*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primaryColor : #5eb54c;
$bgColor : #f6f4f5;

body{
    font-family: 'TT Commons Regular';
}

h1, h2, h3, h4, h5, h6{
    font-family: 'TT Commons Bold';
}

section{
    padding: 60px 0;
}

.p-rel{
    position: relative;
}

header{
    padding: 20px 0;
    .container{
        max-width: 1000px;
    }
    .call{
        margin-left: 60px;
        color: $primaryColor;
        text-decoration: none;
    }
    #header-city{
        border: none;
        color: $primaryColor;
        &:focus{
            border: none;
        }
        &:focus-visible{
            border: none;
            outline: none;
        }
    }

    .items{
        display: flex;
        justify-content: flex-end;
        .register{
            margin-right: 30px;
            border-bottom: 1px dotted $primaryColor;
            display: inline-block;
            color: $primaryColor;
            margin: 10px 30px;
            &:hover{
                text-decoration: none;
            }
        }
        .login{
            color: $primaryColor;
            border: 2px solid $primaryColor;
            padding: 10px 30px;
            margin-left: 60px;
            transition: all 0.3s;
            &:hover{
                background: $primaryColor;
                color: #fff;
                text-decoration: none;
            }
        }
    }
    
}

.banner{
    background-image: url("../img/Banner_1.jpg");
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0;
    .banner-top-sub{
        margin-bottom: 0;
        font-size: 30px;
        letter-spacing: 0.5px;
    }
    .banner-title{
        font-size: 80px;
        line-height: 70px;
        color: #fff;
        margin-bottom: 50px;
    }
    .search-form{
        background: #fff;
        padding: 0px 0px 0px 80px;
        .br{
            border-right: 1px solid #cccccc;
        }
        .form-group{
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 10px;
            margin-right: 10px;
            label{
                color: $primaryColor;
                text-transform: uppercase ;
                margin-bottom: 0;
                font-family: 'TT Commons Medium';
            }
            .cities{
                color: #cccccc;
                width: 80%;
                outline: none;
                border: none;
                border-bottom: 1px solid #000;
                padding: 5px 0;
                font-size: 18px;
                &::before{
                    content: "\f002";
                    font-family: "Font Awesome 5 Free";
                    color: #cccccc;
                    font-weight: 900;
                }
            }
            .check-in{
                border: none;
                outline: none;
                color: #cccccc;
                font-size: 18px;
                user-select: none;
            }
        }
        .submit-btn{
            height: 100%;
            background: #242424;
            border-radius: 0;
            width: 100%;
            transition: all 0.3s;
            &:hover{
                background: $primaryColor;
            }
            .icon{
                color: #fff;
                font-size: 25px;
            }
        }
    }
}

.dwn-arw{
    background: $bgColor;
    padding: 20px;
    a{
        display: inline-block;
        .arw{
            color: $primaryColor;
            font-size: 22px;
        }
    }
}

.heading{
    color: $primaryColor;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.vac-rental{
    .content{
        font-family: 'TT Commons Light';
        font-size: 24px;
        line-height: 32px;
        color: #000;
        text-align: center;
    }
}

.browse-by-loc{
    background: $bgColor;
    background-image: url("../img/Browse\ by\ location/BG.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .loc-box{
        position: relative;
        cursor: pointer;
        margin-top: 30px;
        &::before{
            content: "";
            width: 90%;
            height: 90%;
            border: 2px solid #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s;
            opacity: 0;
        }
        .items{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            .text{
                color: #fff;
                margin-bottom: 0;
                font-size: 18px;
                font-family: 'TT Commons Medium';
            }
            .arw-right{
                color: #fff;
                opacity: 0;
                transition: all 0.3s;
            }
        }
        &:hover{
            .arw-right{
                opacity: 1;
            }
            &::before{
                opacity: 1;
            }
        }
    }
}

.items-with-BG{
    background-image: url("../img/Banner_2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .items-box{
        text-align: center;
        .icon{
            color: #fff;
            font-size: 40px;
        }
        .head{
            color: #fff;
            font-size: 45px;
            margin-bottom: 0px;
            margin-top: 10px;
        }
        .sub-head{
            font-family: 'TT Commons Light';
            color: #000;
            font-size: 22px;
            line-height: 26px;
        }
    }
}

.why-olive{
    .why-box{
        text-align: center;
        margin-top: 30px;
        .text{
            margin-top: 40px;
            font-size: 20px;
            line-height: 22px;
        }
    }
}

.delight-you{
    background: $bgColor;
    .heading{
        margin-bottom: 50px;
    }
    .mt-min{
        margin-top: -100px;
    }
    .delight-box{
        box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
        height: 310px;
        width: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #fff;
        position: absolute;
        padding: 50px;
        &.boxR{
            bottom: 100px;
            left: -140px;
            z-index: 2;
        }
        &.boxL{
            bottom: 0;
            right: -140px;
            z-index: 2;
        }
        h2{
            text-transform: uppercase;
            font-family: 'TT Commons Regular';
            font-size: 26px;
            margin-bottom: 20px;
        }
        ul{
            margin-left: 18px;
            font-family: 'TT Commons Light';
            list-style: none;
            li{
                font-size: 18px;
                line-height: 20px;
                &::before{
                    content: "-";
                    margin-right: 15px;
                    margin-left: -15px;
                }
            }
        }
    }
}

.blogs{
    background: $bgColor;
    .heading{
        margin-bottom: 40px;
    }

    .blog-box{
        .blog-content{
            padding: 20px 30px;
            background: #fff;
            .head{
                font-size: 22px;
                font-family: 'TT Commons Regular';
            }

            .read-more{
                text-decoration: none;
                color: $primaryColor;
                .rght{
                    color: $primaryColor;
                    transition: all 0.3s;
                    
                }
                &:hover{
                    .rght{
                        transform: translateX(10px);
                    }
                }
            }
        }
    }
}

.olive-testi{
    background: $bgColor;
    padding-bottom: 100px;
    .heading{
        margin-bottom: 40px;
    }
    .slick-btns{
        position: absolute;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background: #fff;
        top: 50%;
        transform: translateY(-50%);
        &#prev{
            left: 0;
        }
        &#next{
            right: 0;
        }
    }
    .testi-box{
        background: #242424;
        .slider-content{
            padding-left: 100px;
            padding-right: 50px;
            color: #fff;
            .testi{
                font-size: 16px;
                margin: 30px 0;
            }
            .person-name{
                font-size: 26px;
                margin-bottom: 0;
            }
            .loc{
                font-size: 26px;
                margin-bottom: 0;
            }
        }
    }
}

footer{
    background: #242424;
    padding: 60px 0 180px;
    .footer-BG{
        width: 50%;
        position: absolute;
        bottom: 0;
    }
    .footer-logo{
        width: 180px;
    }
    .social-icons{
        margin-top: 30px;
        .anc{
            display: inline-block;
            &:nth-child(2n){
                margin-left: 25px;
                margin-right: 25px;
            }
            .icon{
                color: $primaryColor;
                font-size: 34px;
                
            }
        }
    }
    .footer-links{
        list-style: none;
        li{
            font-size: 14px;
            text-transform: uppercase;
            margin: 5px 0;
            a{
                color: #fff;
                text-decoration: none;
            }
            &:first-child{
                font-size: 15px;
                a{
                    color: $primaryColor;
                    text-decoration: none;
                }
            }
        }
    }
}